- @tasks.each do |task|
    .text-lg.text-orange
        = link_to task.title, task_path(task)
    %p.text-orange-darkest.m-1 Location: #{task.location}
    %p.text-orange-darkest.mb-6 Budget: #{task.budget} SEK

